<h1>Figure page</h1>
<strong>Name:</strong> <%= @figure.name %>
<ul>
<strong>Landmarks:</strong>
  <%@figure.landmarks.each do |landmark|%>
  <li><%=landmark.name%></li>
  <%end%>
</ul>
<ul>
<strong>Titles:</strong>
  <%@figure.titles.each do |title|%>
  <li><%=title.name%></li>
  <%end%>
</ul>
